@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --primaryColor: #3b4fe4;
  --secondryColor: #ef8354;
  --subtextColor: #2f2525;
  --whiteColor: #fbfbfb;
  --blackColor: #000000;
  --primaryFontStyle: "Jost", sans-serif;
  --secondaryFontStyle: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid aqua; */
}

body {
  font-family: "Jost", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: #fbfbfb;

  /* margin-bottom: 100vh; */
}

section {
  width: 1150px;
  margin: auto;
}

.wrapper {
  background: url("assets/banner-coworkzen.jpg");
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 175px;
}

header {
  width: 1150px;
  background-color: #80808074;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 10px;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  align-items: center;
  width: 160px;
  margin-left: 10px;
}

.nav-links ul {
  display: flex;
  align-items: center;
}

.nav-links ul li {
  list-style: none;
  margin: 0 18px 0 18px;
}

.nav-links ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--whiteColor);
  font-weight: 300;
  transition: 0.4s;
}

.nav-links ul li a:hover {
  color: var(--primaryColor);
}

.cta-call {
  background: var(--secondryColor);
  padding: 0.7rem 1.5rem;
  margin-right: 10px;
  transition: 0.4s;
}

#phone-icon {
  margin-right: 10px;
  color: var(--whiteColor);
  font-size: 0.8rem;
}

.cta-call:hover {
  transform: scale(1);
}

.cta-call a {
  text-decoration: none;
  color: var(--whiteColor);
  font-weight: 200;
  font-size: 0.9rem;
}

.hero-text {
  margin-top: 200px;
  padding: 50px 28px;
  width: 650px;
  background-color: rgba(155, 155, 155, 0.62);

  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
}

.hero-text p {
  font-family: var(--primaryFontStyle);
  color: var(--whiteColor);
  font-size: 18px;
  font-weight: normal;
}

.hero-text h1 {
  font-family: var(--primaryFontStyle);
  text-transform: uppercase;
  color: var(--whiteColor);
  font-size: 62px;
  font-weight: 700;
  line-height: 0.8;
  margin-top: 19px;
}

.pointers {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.pointer1,
.pointer2 {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  background: var(--whiteColor);
  padding: 20px;
}

.icon-wrapper img {
  width: 40px;
}

.pointer-text {
  font-family: var(--primaryFontStyle);
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-left: 20px;
}

.hero-cta {
  width: 650px;
  margin-top: 40px;
  display: flex;
}

.offering {
  background: var(--primaryColor);
  width: 100%;
  padding: 30px;
  text-align: center;
  margin-right: 44px;
  cursor: pointer;
}

.offering a,
.tour a {
  text-decoration: none;
  font-family: var(--secondaryFontStyle);
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}

.tour {
  border: 2px solid var(--whiteColor);
  width: 100%;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

/* Section Two */

.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0 200px;
}

.s1-left,
.s2-right {
  width: 50%;
}

#top-heading {
  font-family: sans-serif;
  color: var(--secondryColor);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.cta-heading {
  font-family: var(--primaryFontStyle);
  color: var(--primaryColor);
  font-size: 47px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.icons-container1,
.icons-container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 50px;
}

.icons-container1 img,
.icons-container2 img {
  width: 80px;
  padding: 15px 22px 15px 0;
}

.icons-container1 h1,
.icons-container2 h1 {
  color: var(--primaryColor);
  font-family: sans-serif;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 10px;
}

.icons-container1 p,
.icons-container2 p {
  font-weight: 300;
}

.item-set1,
.item-set2 {
  display: flex;
  width: 50%;
}

.s2-left p {
  font-family: var(--secondaryFontStyle);
  color: var(--subtextColor);
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 16px;
}

.hs2-button {
  background: var(--primaryColor);
  border: none;
  padding: 18px 30px;
  color: var(--whiteColor);
  font-family: var(--secondaryFontStyle);
  text-transform: capitalize;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  transition: 0.3s;
}

.hs2-button:hover {
  cursor: pointer;
}

.wrapper2 {
  width: 550px;
}

.s2-right img {
  height: 646px;
  width: 470px;
}

.s2-right {
  position: relative;
  /* display: flex; */
}

.contact-info img {
  width: 60px;
  height: 60px;
}

.contact-info {
  width: 50%;
  padding: 30px;
  position: absolute;
  top: -100px;
  right: 0;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}

.info-element {
  display: flex;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.7;
  margin-top: 10px;
}

.info-element i {
  font-size: 14px;
  margin-right: 10px;
  margin-top: 5px;
}

/* Section third */

.text-container-s3 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.text-container-s3 h1 {
  width: 60%;
  font-family: var(--primaryFontStyle);
  color: var(--primaryColor);
  font-size: 47px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.text-container-s3 p {
  width: 40%;
  font-family: var(--secondaryFontStyle);
  color: var(--subtextColor);
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
}

/* Grid picture gallery */

.image-container-s3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 8px;
}

.image-container-s3 {
  display: flex;
}

.img-gallery-left{
  width: 44%;
  /* position: relative; */
}
.img-gallery-right{
  width: 56%;
  display: flex;
  flex-direction: column;
}

.img-gallery-right-top{
  display: flex;
  height: 50%;
}

.img-gallery-right-bottom{
  display: flex;
  height: 50%;
}

.item4{
  width: 70%;
  background: var(--primaryColor);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 8px;
}

.item4 .cta-heading{
  color: var(--whiteColor) !important;
  font-size: 32px;
}

.item4 button {
  background: none;
  border: 1px solid var(--whiteColor);
  padding: 18px 30px;
  color: var(--whiteColor);
  font-family: var(--secondaryFontStyle);
  text-transform: capitalize;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}

.overlay-container{
  position: relative;
}

.gallery-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000078;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .7s ease;
  display: flex;
  align-items: flex-end;
}

.img-gallery-left:hover .gallery-overlay{
  height: 100%;
}

.overlay-text {
  color: var(--whiteColor);
  font-family: var(--primaryFontStyle);
  font-size: 23px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 0 40px 30px;
  transition: .7s ease;
}


/* Section four | Amenities */

.amenities-heading-wrapper h1 {
  font-family: var(--primaryFontStyle);
  color: var(--primaryColor);
  font-size: 47px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

.amenities-heading-wrapper p {
  font-family: var(--secondaryFontStyle);
  color: var(--subtextColor);
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
}

.amenities-heading-wrapper {
  margin-top: 100px;
  display: flex;
  gap:80px;
}

.text-box-left {
  width: 50%;
}

/* progress bar */

.progress-bar-right {
  width: 50%;
}

.progress-item{
  margin-top: 10px;
}

.bar-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-label h1{
  font-family: sans-serif;
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}

.bar-label h1:nth-child(2){
  color: var(--secondryColor);
}

.progress-bar{
  height: 17px;
  width: 100%;
  background: var(--primaryColor);
}

/* Amenities Icons */

.amenities-icons-wrapper {
  width: 100%;
  margin: 50px 0 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
}

.amenities-items img {
  width: 120px;
}

.amenities-items h1 {
  color: var(--primaryColor);
  font-family: var(--primaryFontStyle);
  font-size: 23px;
  font-style: normal;
  line-height: 24px;
  font-weight: 600;
}

/* Section fourth | Pricing */

.fourth-sec-wrapper {
  display: flex;
  align-items: center;
}

.pricing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.left-table {
  padding: 50px;
  box-shadow: 0.3em 0.3em 1em rgba(0.1, 0.1, 0.1, 0.1);
}

.right-table {
  padding: 40px;
  border-left: 0;
  border: 1px solid #efefef;
}

.pricing-table ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.pricing-table ul li img {
  width: 20px;
  margin-right: 5px;
}

.pricing-table ul li p {
  font-family: var(--secondaryFontStyle);
  color: var(--subtextColor);
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.pricing-table ul h3 {
  font-family: var(--secondaryFontStyle);
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
}
.pricing-table ul h1 {
  color: var(--primaryColor);
  font-family: var(--secondaryFontStyle);
  font-size: 32px;
  font-style: normal;
  line-height: 38px;
  font-weight: 900;
  margin: 25px 0 20px;
}

/* section fifth | contact details */

.contact-heading {
  margin-top: 200px;
  width: 60%;
}

.contact-wrapper {
  margin-top: 60px;
  width: 50%;
}

.sub-text p {
  font-family: var(--primaryFontStyle);
  color: #54595f;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  margin: 10px 0 20px;
}

.contact-div-wrapper {
  display: flex;
}

.contact-left {
  width: 50%;
  padding-right: 50px;
}

.contact-right {
  background: #ffffff;
  width: 50%;
}

.contact-wrapper {
  display: flex;
  padding: 30px;
  width: 100%;
  box-shadow: 0.3em 0.3em 1em rgba(0.1, 0.1, 0.1, 0.1);
}

.contact-wrapper img {
  width: 50px;
  margin-right: 20px;
}

.contact-wrapper h1 {
  font-family: var(--secondaryFontStyle);
  font-size: 20px;
  color: var(--primaryColor);
}

.contact-wrapper p {
  font-family: var(--secondaryFontStyle);
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.contact-wrapper p a {
  text-decoration: none;
  color: black;
}

/* contact form */

.contact-right {
  box-shadow: 0.3em 0.3em 1em rgba(0.1, 0.1, 0.1, 0.1);
  padding: 50px;
}

input,
select {
  border: 0.2px solid #ededed;
  padding: 27px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.contact-form-custom {
  padding: 20px 47px;
  font-family: var(--secondaryFontStyle);
  font-size: 16px;
  font-weight: 200;
  text-transform: capitalize;
}

::placeholder {
  color: #a0a0a0;
  font-family: var(--secondaryFontStyle);
  font-size: 16px;
  font-weight: 400;
}

#selectServices {
  color: black;
  font-family: var(--secondaryFontStyle);
  font-size: 16px;
  font-weight: 300;
}

/* sixth section | join us */

.bg-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  background: url("assets/join-us-bg-picture.jpeg");
  background-attachment: fixed;
  height: 550px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.join-us-blur-contanier {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 290px;
  width: 800px;
  padding: 40px;
  background-color: rgba(155, 155, 155, 0.62);

  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
}

.join-us-blur-contanier h1 {
  font-family: var(--primaryFontStyle);
  font-size: 48px;
  color: #ffffff;
  text-align: center;
}

.join-us-custom-cta {
  margin-top: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: none;
}

/* infinite brand logo carousel */

.brand-logo-wrapper {
  margin: 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-logo-wrapper img {
  padding: 20px;
  width: 200px;
}

/* Founder Quote Section */

.quote-bg-wrapper {
  background: url("assets/quote-desk.jpeg");
  height: 590px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.quote-wrapper {
  width: 850px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quote-wrapper img {
  width: 60px;
}

.quote-wrapper p {
  font-family: var(--secondaryFontStyle);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  color: #ffffff;
}

.quote-wrapper h3 {
  font-family: var(--primaryFontStyle);
  font-size: 24px;
  color: #ef8354;
}

/* Blog */

.blog-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Featured Section */

.featured-logo-wrapper {
  margin: 50px 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-logo-wrapper img {
  border: 1px solid #ede7e7;
  padding: 40px;
  width: 250px;
}

.featured-arrow-left {
  border: 1px solid red !important;
  padding: 0 !important;
  width: 20px !important;
  border: none !important;
  transform: rotate(90deg);
}

.featured-arrow-right {
  border: 1px solid red !important;
  padding: 0 !important;
  width: 20px !important;
  border: none !important;
  transform: rotate(270deg);
}

/* FAQ Section */

.question-wrapper h2 {
  font-family: var(--primaryFontStyle);
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  margin: 20px 0 25px 0;
}

.question-wrapper p {
  font-family: var(--secondaryFontStyle);
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #2f2525;
  letter-spacing: 0.3px;
}

.question-wrapper button {
  margin: 20px;
  background: none;
  border: none;
  font-family: var(--secondaryFontStyle);
  font-size: 16px;
  font-weight: 700;
  color: var(--primaryColor);
}

.question-wrapper hr {
  border: 0.1px solid #bdbdbd;
}

/* Footer */

.footer {
  background-image: url(assets/coworkzen-footer-picture.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0 90px;
}
.footer-wrapper {
  width: 1150px;
  padding: 30px 30px;

  background-color: rgba(155, 155, 155, 0.62);
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);

  display: flex;
}

.brand-logo-footer {
  width: 218px;
  margin-bottom: 20px;
}

.brand-details-footer {
  width: 50%;
  margin-right: 40px;
}

i{
  color: var(--secondryColor);
}

.footer-links-wrapper {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper p {
  font-family: var(--secondaryFontStyle);
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #ffffff;
}

.contact-info-text{
  margin-top: 20px;
}

.link-wrapper ul li {
  list-style: none;
  margin: 15px 0 15px;
}

.link-wrapper ul li a {
  text-decoration: none;
  font-family: var(--secondaryFontStyle);
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.link-wrapper h1 {
  font-family: var(--primaryFontStyle);
  font-size: 24px;
  color: var(--secondryColor);
}

input{
  width: 100%;
  height: 50px;
  margin: 15px 0 15px;;
  border: 1.3px solid #ffffff;
  background-color: #02010100;
  color: #bdbdbd;
  font-size: medium;
}

.link-wrapper button{
  width: 100%;
  height: 50px;
  background-color: var(--secondryColor);
  border: none;
  color: #ffffff;
  font-size: medium;
}
