@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --primaryColor:#3B4FE4; 
    --secondryColor:#EF8354;
    --subtextColor:#2F2525;
    --whiteColor:#FBFBFB;
    --blackColor:#000000;
    --primaryFontStyle: 'Jost', sans-serif;
    --secondaryFontStyle:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid aqua; */
}

body{
    font-family: 'Jost', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #FBFBFB;
}

section{
    width: 1150px;
    margin: auto;
}

.wrapper{
    background: url('assets/banner-coworkzen.jpg');
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom: 175px;
}

header{
    width: 1150px;
    background-color: #80808074;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

.brand-logo{
    display: flex;
    align-items: center;
}

.brand-logo img{
    align-items: center;
    width: 160px;
    margin-left: 10px;
}

.nav-links ul{
    display: flex;
    align-items: center;
}

.nav-links ul li{
    list-style: none;
    margin: 0 18px 0 18px;
}

.nav-links ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: .9rem;
    color: var(--whiteColor);
    font-weight: 100;
    transition: .4s;
}

.nav-links ul li a:hover{
    color: var(--primaryColor);
}

.cta-call{
    background: var(--secondryColor);
    padding: .7rem 1.5rem;
    margin-right: 10px;
    transition: .4s;
}

#phone-icon{
    margin-right: 10px;
    color: var(--whiteColor);
    font-size: .8rem;

}

.cta-call:hover{
    transform: scale(1);
}

.cta-call a{
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: 100;
    font-size: .9rem;
}

.hero-text{
    margin-top: 200px;
    padding: 50px 28px;
    width: 650px;
    background-color: rgba(155, 155, 155, 0.62);

    backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);

}

.hero-text p{
    font-family: var(--primaryFontStyle);
    color: var(--whiteColor);
    font-size: 18px;
    font-weight: normal;
}

.hero-text h1{
    font-family: var(--primaryFontStyle);
    text-transform: uppercase;
    color: var(--whiteColor);
    font-size: 62px;
    font-weight: 700;
    line-height: .8;
    margin-top: 19px;
}

.pointers{
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.pointer1, .pointer2{
    display: flex;
    align-items: center;
}

.icon-wrapper{
    background: var(--whiteColor);
    padding: 20px;
}

.icon-wrapper img{
    width: 40px;
}

.pointer-text{
    font-family: var(--primaryFontStyle);
    color: var(--whiteColor);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 20px;
}

.hero-cta{
    width: 650px;
    margin-top: 40px;
    display: flex;
}

.offering{
    background: var(--primaryColor);
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-right: 44px;
    cursor: pointer;

}


.offering a, .tour a{
    text-decoration: none;
    font-family: var(--secondaryFontStyle);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

.tour{
    border: 2px solid var(--whiteColor);
    width: 100%;
    padding: 30px;
    text-align: center;
    cursor: pointer;
}

/* Section Two */


.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0 200px;
}

.s1-left, .s2-right{
    width: 50%;
}

#top-heading{
    font-family: sans-serif;
    color:var(--secondryColor);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.cta-heading{
    font-family: var(--primaryFontStyle);
    color: var(--primaryColor);
    font-size: 47px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.icons-container1, .icons-container2{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 50px 0 50px;
}

.icons-container1 img, .icons-container2 img{
    width: 80px;
    padding: 15px 22px 15px 0;
}

.icons-container1 h1, .icons-container2 h1{
    color: var(--primaryColor);
    font-family: sans-serif;
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 10px;
}

.item-set1, .item-set2{
    display: flex;
    width: 50%;
}

.s2-left p{
    font-family: var(--secondaryFontStyle);
    color: var(--subtextColor);
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 16px;
}

.hs2-button{
    background: var(--primaryColor);
    border: none;
    padding: 18px 30px;
    color: var(--whiteColor);
    font-family:var(--secondaryFontStyle);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    transition: .3s;
}

.hs2-button:hover{
    cursor: pointer;
}

.wrapper2{
    width: 550px;
}

.s2-right img{
    height: 646px;
    width: 470px;
    margin-top: 100px;
}

.s2-right{
    position: relative;
    display: flex;
}

.contact-info img{
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.contact-info{
    position: absolute;
    margin-left: 280px;
    margin-top: -20px;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 30px;
}

.info-element{
    display:flex;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.7;
    margin-top: 10px;

}

.info-element i{
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
}


/* Section third */

.text-container-s3{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.text-container-s3 h1{
    width: 60%;
    font-family: var(--primaryFontStyle);
    color: var(--primaryColor);
    font-size: 47px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.text-container-s3 p{
    width: 40%;
    font-family: var(--secondaryFontStyle);
    color: var(--subtextColor);
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
}

.image-container-s3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);

    row-gap: 16px;
    column-gap: 16px;
}

.item{
    background-color: aqua;
}

.item1{
    grid-row-start:1;
    grid-row-end:4;
}

.item1 img{
    height: 700px;
    width: 450px;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;

}

.item2{
    height: 400px;
    width: 450px;
}

.item2 img{
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item3{
    height: auto;
    width: auto;
}

.item3 img{
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item5 button{
    padding: 18px 30px;
    background: var(--primaryColor);
    border: none;
    font-family: var(--secondaryFontStyle);
    color: var(--whiteColor);
    text-transform: capitalize;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    transition: .3s;
}










